.profile_img{
    border-radius: 50%;
}
 
ul{
    list-style: none;
    text-align: left;
    li{
        margin-top: 0.5rem;
    }
}
.profile{
    height: 200px;
    
}
::ng-deep.p-button{
    padding: 0.5rem;
 
 
}